<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635220140788-3c7nm6qol05en57dubjbgoc4t9fqp81g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635220140788-3c7nm6qol05en57dubjbgoc4t9fqp81g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>635220140788-1ovng91aob45eribebjlf0s82auj7n5p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLUqlbAPYbLusw4m2v3aIiayCcp4JjwpM</string>
	<key>GCM_SENDER_ID</key>
	<string>635220140788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tn.aigraphyapp.com</string>
	<key>PROJECT_ID</key>
	<string>aigraphy-e594d</string>
	<key>STORAGE_BUCKET</key>
	<string>aigraphy-e594d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635220140788:ios:5bc058e56a71cdb10a34a1</string>
</dict>
</plist>